In [4]:
import tensorflow as tf
import pandas as pd

from tensorflow.keras.utils import to_categorical
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import CategoricalCrossentropy

from utils.helper import *
from utils.constants import *
from inception.main import build_model

df = read_dataset("ArrowHead")

X_train = df[0].reshape(df[0].shape[0], df[0].shape[1], 1)
X_test = df[2].reshape(df[2].shape[0], df[2].shape[1], 1)
# apply one-hot encoder
y_train=to_categorical(df[1])
y_test=to_categorical(df[3])

model = build_model(input_shape=X_train.shape[1:] , num_classes=y_train.shape[1], num_modules=2)
model.summary()

Model: "model_3"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_4 (InputLayer)        [(None, 251, 1)]             0         []

 conv1d_26 (Conv1D)          (None, 251, 32)              32        ['input_4[0][0]']

 max_pooling1d_5 (MaxPoolin  (None, 251, 1)               0         ['input_4[0][0]']
 g1D)

 conv1d_27 (Conv1D)          (None, 251, 32)              10240     ['conv1d_26[0][0]']

 conv1d_28 (Conv1D)          (None, 251, 32)              20480     ['conv1d_26[0][0]']

 conv1d_29 (Conv1D)          (None, 251, 32)              40960     ['conv1d_26[0][0]']

 conv1d_30 (Conv1D)          (None, 251, 32)              32        ['max_pooling1d_5[0][0]']

 concatenate_5 (Concatenate  (None, 251, 128)             0         ['conv1d_27[0][0]',
 )                                                                   'conv1d_28[0][0]',
                                                                     'conv1d_29[0][0]',
                                                                     'conv1d_30[0][0]']

 batch_normalization_6 (Bat  (None, 251, 128)             512       ['concatenate_5[0][0]']
 chNormalization)

 tf.nn.relu_5 (TFOpLambda)   (None, 251, 128)             0         ['batch_normalization_6[0][0]'
                                                                    ]

 conv1d_31 (Conv1D)          (None, 251, 32)              4096      ['tf.nn.relu_5[0][0]']

 max_pooling1d_6 (MaxPoolin  (None, 251, 128)             0         ['tf.nn.relu_5[0][0]']
 g1D)

 conv1d_32 (Conv1D)          (None, 251, 32)              10240     ['conv1d_31[0][0]']

 conv1d_33 (Conv1D)          (None, 251, 32)              20480     ['conv1d_31[0][0]']

 conv1d_34 (Conv1D)          (None, 251, 32)              40960     ['conv1d_31[0][0]']

 conv1d_35 (Conv1D)          (None, 251, 32)              4096      ['max_pooling1d_6[0][0]']

 concatenate_6 (Concatenate  (None, 251, 128)             0         ['conv1d_32[0][0]',
 )                                                                   'conv1d_33[0][0]',
                                                                     'conv1d_34[0][0]',
                                                                     'conv1d_35[0][0]']

 batch_normalization_7 (Bat  (None, 251, 128)             512       ['concatenate_6[0][0]']
 chNormalization)

 tf.nn.relu_6 (TFOpLambda)   (None, 251, 128)             0         ['batch_normalization_7[0][0]'
                                                                    ]

 global_average_pooling1d_3  (None, 128)                  0         ['tf.nn.relu_6[0][0]']
  (GlobalAveragePooling1D)

 dense_3 (Dense)             (None, 3)                    387       ['global_average_pooling1d_3[0
                                                                    ][0]']

==================================================================================================
Total params: 153027 (597.76 KB)
Trainable params: 152515 (595.76 KB)
Non-trainable params: 512 (2.00 KB)
__________________________________________________________________________________________________

In [6]:
pd.read_csv("result1.csv")

     Dataset  Train loss  Train accuracy  Test loss  Test accuracy
0  ArrowHead    0.181362        1.000000   0.647003       0.708571
1       Wine    0.659065        0.631579   0.662383       0.611111
2   OliveOil    1.233517        0.433333   1.262199       0.400000
3        Car    0.852139        0.783333   1.000168       0.600000
4  BeetleFly    0.039242        1.000000   0.271606       0.850000

In [7]:
pd.read_csv("result_2.csv")

     Dataset  Train loss  Train accuracy  Test loss  Test accuracy
0  ArrowHead    0.001118        1.000000   0.930305       0.754286
1       Wine    0.280767        0.912281   0.539921       0.777778
2   OliveOil    0.189864        0.933333   0.518034       0.866667
3        Car    0.001213        1.000000   0.620823       0.783333
4  BeetleFly    0.001620        1.000000   0.612340       0.750000

In [8]:
pd.read_csv("result_3.csv")

     Dataset  Train loss  Train accuracy  Test loss  Test accuracy
0  ArrowHead    0.000774        1.000000   0.916289       0.714286
1       Wine    0.136296        0.964912   1.904353       0.518519
2   OliveOil    0.027355        1.000000   0.671604       0.800000
3        Car    0.000560        1.000000   0.755208       0.816667
4  BeetleFly    0.000793        1.000000   0.309580       0.850000

In [9]:
pd.read_csv("result_4.csv")

     Dataset  Train loss  Train accuracy  Test loss  Test accuracy
0  ArrowHead    0.001750        1.000000   1.431581       0.708571
1       Wine    0.088357        0.982456   1.441160       0.574074
2   OliveOil    0.013802        1.000000   0.505322       0.900000
3        Car    0.000131        1.000000   0.877769       0.833333
4  BeetleFly    0.000213        1.000000   0.350559       0.800000